{% extends "base.html" %}
{% block content %}
<head>
    <title>URL Shortner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/poststyle.css') }}">
</head>
<div class="container">
    <div class="button-container">
        <div class="left-buttons">
            <a href="{{ url_for('short.shor_t') }}">
              <button class="basic-button">Short it</button>
            </a>
            <a href="{{ url_for('posts_B.a_p') }}">
                <button class="basic-button">Add Link</button>
            </a>
            <a href="{{ url_for('admin_B.settings') }}">
                <button class="basic-button">Settings</button>
            </a>
          </div>
        <div class="right-text">
            <p>Find your links at: <a target="_blank" href="/{{ session['user'] }}">linknest.cc/{{ session['user'] }}</a> </p>
        </div>
      </div>
      <br>
      <h3>Link Shortner</h3>
      <hr>
</div>
    <div class="add_container">
        <div class="blog-add">
            <div class="card">
            <div class="card-image"></div>
                <form class="card-form" name="addForm" id="addForm" method="POST" action="{{ url_for('short.st') }}" >
                    <div class="input">
                        <input type="text" class="input-field"  placeholder="Title" name="title" id="title" required>
                    </div>
                    <div class="input">
                        <input type="text" class="input-field"  placeholder="URL" name="url" id="url" required>
                    </div>
                    <div class="action">
                        <button type="submit" class="action-button" id="sendMessageButton">Short It</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<div class="container" style="margin-top:-200px;">
    <h3>Your Shortlinks</h3>
        <hr>
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in shorts[::-1] %}
                <div class="post-preview">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <a style="color: inherit;" target="_blank" href="/s/{{ post.short }}">linknest.cc/s/{{ post.short }}</a>
                    <br>
                </div>
                {% endfor %}
                </div>
            </div>
</div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}